@import "tailwindcss";

:root {
  color: #c9c9c9;
  background-color: #212123;
  height: 100vh;
}
:root {
  --bg-color: #ffffff;
  --text-color: #1f1f1f;
}

[data-theme="dark"] {
  --bg-color: #1f1f1f;
  --text-color: #c9c9c9;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #191919;
}

::-webkit-scrollbar-thumb {
  background: #212123;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #212123 #191919;
}
